/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*****MEYER RESET START*****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*****MEYER RESET END*****/

:root{
    box-sizing: border-box;
}

.dashboard-container{
    display: grid;
    min-height: 100vh;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "sidebar header header header"
        "sidebar main-content main-content main-content"
        "sidebar main-content main-content main-content"
        "sidebar main-content main-content main-content"
        "sidebar main-content main-content main-content"
}

.section{
    /* background-color: pink; */
    border: 1px solid;
}

.sidebar{
    grid-area: sidebar;
    display: grid;
    background-color: #1A92D3;
    color: white;
    padding: 20px;
}

.sidebar > div {
    display: flex;
}

.sidebar h1 {
    font-size: 28px;
    margin-left: 10px;
    font-weight: bold;
}

.dashboard {
    width: 30px;
    height: 30px;
}

.header{
    grid-area: header;
    display: grid;
}

.main-content{
    background-color: #E2E8EF;
    grid-area: main-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* padding: 20px 0; */
}

/* .main-content > * {
    border: 1px solid;
} */

/* .main-content > div > div {
    padding: 20px 0;
} */

.projects-wrapper{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.main-content h2 {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.main-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-content h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.main-content p {
    font-weight: light;
    color: #6F6F6F;
    line-height: 1.5;
}

.projects {
    flex: 1;
    display: grid;
    gap: 30px;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects > div {
    border-left: 10px solid #F0B329;
}

.card{
    background-color: white;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 3px 3px 10px#888888;
}

.announ-and-trends {
    display: flex;
    flex-direction: column;
}

.announ-and-trends p {
    font-size: 14px;
}

.announcements, .trending {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.announcement-cards, .trending-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

.announcement-cards > div {
    flex: 1;
    padding: 20px 0;
}

.announcement-cards > div:nth-child(-n+2) {
    border-bottom: 1.5px solid #bbb;
}

.trending img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.trending-cards > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
